<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <db_layer.Properties.Settings>
      <setting name="dbUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="dbConnectionString" serializeAs="String">
        <value>Data Source=WinPC1;Initial Catalog=database1;Integrated Security=True;</value>
      </setting>
      <setting name="useDbIntegratedSecurity" serializeAs="String">
        <value>True</value>
      </setting>
    </db_layer.Properties.Settings>
  </userSettings>
</configuration>